*{
    margin: 0px;
    padding: 0px;
    /* border: 2px dotted red; */
    
    font-family: monospace;
}

.container{
    margin: auto;
    width: 650px;
    height: 450px;
    
}

.topbar{
    display: flex;
    background-color: aqua;
    height: 100px;
    border: 7px solid aqua;
}

.content{
    background-color: white;
    height: 150px;
    top: 45px;
    left: 40px;
    padding-left: 45px;
    border-left: 2px solid lightslategrey;
    border-bottom: 2px solid lightslategrey;
    border-right: 2px solid lightslategrey;
    padding-top: 50px;

}

.profile{
    position: relative;
    top: 50px;
    left: 40px;
    border: 3px solid lightslategrey;
    border-style: inset;
    border-radius: 50%;
    box-shadow:0px 0px 7px lightslategrey;

}

h1{
    left: 40px;
    top: 50px;
}

#pinDrop{
    height: 15px;
    margin-right: 10px;
}

.Name{
    height: 50px;
}

.content h3{
    position: relative;
    top: 25px;
    left: 45px;
}

 #cog{
    height: 15px;
    margin-right: 10px;
}

.location{
    display: flex;
    margin-bottom: 10px;
    margin-top: -5px;
}

.profileSettings{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

.bodytext{
    display: flex;
    padding-top: 20px;
}